        <%- include('layout/header') %>
        <p>VVV <%= title %></p>
        <p><a href="https://www.facebook.com/fralobboo">ตลิกตรงนี้เลยครับคุณม๊อสสสส!!!!</a></p>
        <%- include('layout/footer') %>
